@use "../pages-style/home";
@use "../components/aside";
@use "../components/head-page";
@use "../pages-style/book-details";
@use "../pages-style/bookmark";
@use "../pages-style/upload";
@use "../pages-style/upload-2";
@use "../pages-style/upload-3";
@use "../pages-style/reader-profile";
@use "../pages-style/author-profile";
@use "../pages-style/chats";
@use "../pages-style/authors";
@use "../pages-style/signup-login";
@use "../pages-style/profile-details";

.active-margin {
    margin: 70px 85px 0 0 ;
}