/* Start Aside */
.aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  border-left: 1px solid #E6E6E6;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding-top: 120px;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}
.aside.active-aside {
  width: 65px;
  padding-top: 95px;
}
.aside.active-aside a span {
  display: none;
}
.aside a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #959595;
  gap: 5px;
  font-size: 14px;
}
.aside a .item {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.aside a .home {
  height: 22px;
  background-position: -5px -5px;
}
.aside a img {
  height: 22px;
}
.aside a svg {
  height: 27px !important;
  width: auto !important;
}
.aside .toggle-menu {
  display: none;
}
.aside .active-page {
  color: #284AC2;
}

@media (max-width: 650px) {
  .aside {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100% !important;
    top: auto;
    bottom: 0;
    right: 0 !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0;
    z-index: 999;
    background-color: #FFF;
    padding: 5px 0 !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 0 -5px 12px -5px #878787, 0 5px 5px -5px #333;
            box-shadow: 0 -5px 12px -5px #878787, 0 5px 5px -5px #333;
  }
  .aside .authors,
.aside .sign {
    display: none;
  }
  .aside .toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside .toggle-menu svg {
    width: 24px;
    -webkit-transform: translateY(2px) !important;
            transform: translateY(2px) !important;
  }
  .aside .toggle-menu span {
    -webkit-transform: translateY(-3px) !important;
            transform: translateY(-3px) !important;
  }
  .aside a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #959595;
    gap: 4px;
    font-size: 14px;
  }
  .aside a span {
    display: block !important;
  }
  .aside img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .aside img:first-child {
    width: 26px;
    height: 18px;
  }
  .aside img:nth-child(2) {
    width: 13px;
    height: 18px;
  }
  .aside img:nth-child(3) {
    width: 18px;
    height: 18px;
  }
  .aside img:nth-child(4) {
    width: 20px;
    height: 20px;
  }
  .aside img:nth-child(5) {
    width: 20px;
    height: 20px;
  }
  .aside span {
    font-size: 10px;
  }
}
/* End Aside */